{% extends 'layout.html' %}

{% block body %}
    <br>
    <br>
    <br>
    <div class="jumbotron text-center">
        <h1>AboutUs</h1>
        <p class="lead">The source for this demo app is on the following
        references:-</p>
        <p>
            <a href="http://flask.pocoo.org/">FLASK</a>
            - <a href="https://www.w3schools.com/html/default.asp">HTML
            refrence</a>
            - <a href="https://www.bootstrap.com">BOOTSTRAP</a>
        </p>
    </div>
{% endblock %}